@import url('https://fonts.googleapis.com/css?family=Montserrat:600');


.free{

    .back-btn{
        margin-top: 3rem;
        margin-bottom: 1rem;
        img{
            cursor: pointer;
            width: 1.8rem;
        }
        
    }
   


    .invisible{
        display: none;
        opacity: 0;
        position: absolute;
        left:-1000%
    }
    
    
    .change-back{
        @media screen and (max-width: 1020px) {
            background-color: black;
        }
    }
    
    .test{
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        min-height: 85vh;
        
    }
    
    
    .wrap-all-the-text{
    
        @media screen and (min-width: 1020px) {
            min-height: 80vh;
            display: grid;
            place-content: center;
        }
     
    
    .text{
     
     color: white;
        background-color: black;
    
        @media screen and (min-width: 1020px) {
            height: 420px;
        width:920px;
        border-radius: 30px;
        box-shadow: 0px 0px 15px 1px rgb(54, 43, 43);
          }
    
    
        img{
            @media screen and (max-width: 1020px) and(min-width: 500px){
                width: 60%;
                margin-left: 20%;
            }
            @media screen and (max-width: 500px) {
                width: 80%;
                margin-left: 10%;
                
            }
    
            @media screen and (min-width: 1020px) {
           position: absolute;
            width: 400px;
            }
            
            margin-left: 20px;
            margin-top: 15px;
    
           
        }
    
        .text-card{
            background-color: white;
            @media screen and (min-width: 1020px) {
           position: absolute;
           
           width: 410px;
            height: 380px;
            margin-top: 20px;
            margin-left: 490px;
            }
            border-radius: 30px;
            color: black;
            @media screen and (max-width: 1020px) {
             width: 80%;
             margin-left: 10%;
             margin-bottom: 40px;
            }
          
            .text-card-wrapper{
                margin-top: 25px;
                margin-left: 20px;
                margin-right: 20px;
            }
            h2{
                font-size: 1.4rem;          
            }
            span{
                font-size: 0.7rem;            
                color: #594343;          
            }
            p{
                font-size: 0.75rem;
               
                margin-top: 20px;
            }
    
            a{
                @media screen and (min-width: 1020px) {
                      position: absolute;
                     }
                     @media screen and (max-width: 1020px) {
                        margin-bottom: 20px;
                        width: 100%;
                        margin-top: 15px;
                       }
              
                bottom: 20px;
                width: 80%;
                left: 10%;
                height: 55px;
                background-color: rgba(255, 21, 21, 0.8);
                border-radius: 15px;
                color: white;
                font-size: 0.78rem;
                box-shadow: 0px 3px 50px 4px rgb(255 0 0 / 4%);
            }
            a:hover{
                background-color: #ff1515ca;
                color: #ffffff;
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.677);
               
            }
            
        }
    }
    
    }
    .footer-fix{
        overflow-x: hidden; 
        overflow-y: hidden;
    }
    
    .quiz{
        display: grid;
        place-content: center;
        font-weight: bold;
    
        .questions{
            h1{
                margin-bottom: 30px;
            }
    
            button{
                //padding: 3rem 1rem;
                box-shadow: 0px 3px 50px 4px rgb(255 0 0 / 8%);
                background-color: white;
                border-radius: 25px;
                margin: 0 20px 0 0;
                font-weight: 600;
                font-size: 0.9rem;
                margin-top: 20px;
                justify-content: flex-start;
                @media screen and (min-width: 1020px) {
                width: 350px;
                height: 280px;
                //align-items: center;
                }
    
                @media screen and (max-width: 1010px) {
                      display: flex;
                      width: 80vw;           
                      padding: 1.5rem;
                  }
            }

            
        .black-btn{
            p{
                //padding: 3rem 1rem;
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.309);
                background-color: #232323cc;
                border-radius: 25px;
                margin: 0 20px 0 0;
                color: white;
                font-weight: 600;
                font-size: 0.9rem;
                margin-top: 20px;
                justify-content: flex-start;
                padding: 1.5rem;
                @media screen and (min-width: 1020px) {
                
                width: 100%;
                //align-items: center;
    
    
    
                }
    
    
    
                @media screen and (max-width: 1010px) {
                    display: flex;
                    width: 80vw;           
                    
                }
            }
    
            p:hover{
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.642);
                cursor: pointer;
                //background-color: #ff151595;
            }
    
                    }
    
            p{
                //padding: 3rem 1rem;
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.309);
                background-color: #ff1515cc;
                border-radius: 25px;
                margin: 0 20px 0 0;
                color: white;
                font-weight: 600;
                font-size: 0.9rem;
                margin-top: 20px;
                justify-content: flex-start;
                padding: 1.5rem;
                @media screen and (min-width: 1020px) {
                
                width: 100%;
                //align-items: center;
                }
    
                @media screen and (max-width: 1010px) {
                      display: flex;
                      width: 80vw;           
                      
                  }
            }
    
            p:hover{
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.642);
                cursor: pointer;
                //background-color: #ff151595;
            }
    
            
                input{
                        //padding: 3rem 1rem;
                box-shadow: 0px 3px 50px 4px rgb(255 0 0 / 8%);
                background-color: white;
                border-radius: 25px;
                margin: 0 20px 0 0;
                font-weight: 600;
                font-size: 0.9rem;
                margin-top: 20px;
                justify-content: flex-start;
                padding: 1.5rem;
                           @media screen and (max-width: 1020px) {
                            display: flex;
                            width: 80vw;           
                            
                                    //align-items: center;
                                    }
                            }
                    
            button:hover{
                background-color: #ff1515ca;
                color: #ffffff;
                box-shadow: 0px 3px 50px 4px rgba(0, 0, 0, 0.677);
            }
        }
    }
    
    
    
    .result{
     font-weight: bold;
     .lock{
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 30px;
       
        width: 85vw;
        height: 800px;
        
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
        span{
             font-size: 3rem;
             
        }
    
    
    
     }
     
    
     .not-lock{
       // margin-top: 50px;
       // margin-bottom: 50px;
       // border-radius: 30px;
       
        width: 100vw;
        background-color: white;
        
        .not-lock-text{
            padding-top: 30px;
            padding-left: 30px;
        } }   }}
    
    
    .day-menu{
        h1{
            display: flex;
            justify-content: center;
            font-size: 2rem;
        }
        padding-bottom: 3rem;
    }
    .meals{
        display: flex;
        justify-content: space-around;
        
    
        h3{
            margin-top: 4rem;
        }
    }