


.social{
   position: sticky;
   bottom: 100px;
   z-index: 100;
   margin-bottom: 10px;

   @media screen and (min-width: 700px) {
    margin-left: 20px;
    
    

    
 }
}

.inside{
    display: flex;
    z-index: 100;
    width: auto;
    span{
        position: absolute;
        top: 5%;
        left: 370px;
        z-index: 200;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    
    img{
        width: 70px;
        height: 70px;
        @media screen and (min-width: 1300px) {
        width: 80px;
        height: 80px;
            
        
            
         }
    }

    
    font-size: 15px;
    background-color: #e6c9c9;
    border-radius: 15px;
    padding: 1rem;


    @media screen and (min-width: 700px) {
    width: 400px;    }

    
    @media screen and (max-width: 700px) {
       font-size: 11px;   
       padding: 0.5rem 1rem 0.2rem;
       width: 90%;
       margin-right: auto;
       margin-left: auto;
       

        img{
            margin-left: -15px;
        }
    }
}

.invisible{
    display: none;
   
}